In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from pycaret.classification import *

Reading in the data and using one hot encoding

In [11]:
train_data = X_train.copy()
train_data["Diabetes"] = y_train

s = ClassificationExperiment()
# Setting feature selection to true
s.setup(train_data, target = "Diabetes", session_id = 123, preprocess=True, feature_selection=True)

top_models = s.compare_models(n_select=5)

In [8]:
# Read the data into a pandas dataframe
df = pd.read_csv("diabetes_data.csv")
print(df.size)

# do some basic exploration
print("(Observations, Attributes (including target): ", df.shape)
print("DF contains null / nan values: ", df.isna().any().any())
for i in df.columns:
    print(f"Unique values for {i}: ", sorted(df[i].unique()))
    # plt.figure(figsize=(3, 1.5))
    # plt.title(f'{i}')
    # plt.hist(df[i])
print(df.describe())

# (for our report, we should describe how the categories were assessed (e.g. age buckets, what the 5 GenHlth categories correspond to etc.))

# As can be seen, many categories are actually binary, the rest is somewhat categorical although interpreting them continously might bear some benefit
# One hot encoding, dropfirst to remove the redundant column, since for sex they will have perfect negative corrolation (e.g. is_female and is_male)
# df = pd.get_dummies(df, columns=["Sex"], drop_first=True)

# Identifying binary columns with unique values [0.0, 1.0]
binary_columns = ["Sex", "HighChol", "CholCheck", "Smoker", "HeartDiseaseorAttack", "PhysActivity", 
                  "Fruits", "Veggies", "HvyAlcoholConsump", "DiffWalk", "Stroke", "HighBP"]

# One-hot encoding the binary columns with drop_first=True
# df = pd.get_dummies(df, columns=binary_columns, drop_first=True)  # this did not make a difference for the results

# One hot encoding for GeneralHealth since its a catagorical value from 1-5
df = pd.get_dummies(df, columns=["GenHlth"])

In [9]:
## Plot: Distribution of age groups

# Define the age ranges for each group (according to AGEG5YR)
age_groups = ['18-24', '25-29', '30-34', '35-39', '40-44', '45-49', 
              '50-54', '55-59', '60-64', '65-69', '70-74', '75-79', '80+']

# Count the occurrences of each age group (1-13)
age_group_counts = df['Age'].value_counts().reindex(range(1, 14), fill_value=0)

# Create the bar plot
plt.figure(figsize=(10, 6))
bars = plt.bar(age_group_counts.index, age_group_counts.values, color='skyblue')

# Annotate each bar with the corresponding age range
for bar, age_group in zip(bars, age_groups):
    yval = bar.get_height()
    plt.text(bar.get_x() + bar.get_width() / 2, yval, age_group, 
             ha='center', va='bottom', fontsize=10, color='black')

# Add labels and title
plt.xlabel('Age Group Code')
plt.ylabel('Count')
plt.title('Distribution of Individuals by Age Group')
plt.xticks(age_group_counts.index)
plt.tight_layout()

# Show the plot
plt.show()

Checking for cyclical values and if we need to scale some features (maybe its better to leave some features unscaled for some models ???)

In [4]:

# Check if we have cyclical values | We dont :) often in form of months, days or any time series.

# Check scaling and what columns its need to do scaling (essentially if range is above 0<x<1 => we need to scale)
# our exploration above yields: Age, BMI, (GenHlth, now one-hot encoded,) MentHlth, PhysHlth

# Init of scaler
scaler = StandardScaler()

# Apply scaling for BMI, Mental health, Physical Health, and maybee age and GenHlth (depending on encoded or not) ??? 
# to benefit models like logistic regression, SVM or KNN
# We tested with this uncommented and it yielded a worse result for the best models
# to_be_scaled = ["BMI", "MentHlth", "PhysHlth", "Age", "GenHlth"]
# df[to_be_scaled] = scaler.fit_transform(df[to_be_scaled])

# print(df.describe())

# Splitting the data into data and target
data = df.drop("Diabetes", axis=1)
target = df["Diabetes"]

Now we split the data into triaining and test data

In [5]:
# Make a train and test split
# Train 80%
# Test 20%
# X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.2)
X_train, X_test, y_train, y_test = train_test_split(data, target, stratify=target, test_size=0.2, random_state=42)

Checking for correlation of features in our dataset

In [6]:
# Check features that are correlated
plt.figure(figsize=(15, 15))
correlation_matrix = df.corr()
sns.heatmap(correlation_matrix, annot=True, cmap="coolwarm", linewidths=0.5)
plt.plot()
# there seems to be a slight linear correlation between GenHtlh and PhysHlth, we should address this / state what the threshold value would be and why

Using pycaret to choose top 5 models to train develope further with hyperparameters optimization

In [7]:
train_data = X_train.copy()
train_data["Diabetes"] = y_train

# Pycaret for choosing the best models, pick top 5.
s = ClassificationExperiment()
s.setup(train_data, target = "Diabetes", session_id = 123, preprocess=True)  #preprocessing probably also takes care of scaling e.g.
top_models = s.compare_models(n_select=5)

Hyper parameter tuning

In [8]:
# built-in random-search by pycaret (took 2m 2.1s for me)
tuned_models = [s.tune_model(model) for model in top_models]

Lets try to use ensamble methods to get better results

In [9]:
# Use blend models to try to get better accuracy 
clf = setup(data=train_data, target="Diabetes")

ensemble_model = blend_models(estimator_list=tuned_models, method="hard")
print(evaluate_model(ensemble_model))

In [10]:

from sklearn.linear_model import LogisticRegression
# try to use stacking to see if thats any better
stacked_model_custom = s.stack_models(estimator_list=tuned_models, meta_model=LogisticRegression())

Lets try and see if feature selection does help ?

After trying stacking, blending and feature selection they all performed worse than the single model after hyperparameter tuning.

So lets just stick with the following

In [12]:
# Making a copy of the training data
train_data = X_train.copy()
# Adding the target column to the df
train_data["Diabetes"] = y_train

# Pycaret for choosing the best models, pick top 5.
s = ClassificationExperiment()
s.setup(train_data, target = "Diabetes", session_id = 123, preprocess=True)  #preprocessing probably also takes care of scaling e.g.
# Selecting the top 5 models and display their scoring
top_models = s.compare_models(n_select=5)

Lets try blending with more diverse models that should have a diverse classifications.

In [13]:
# Use blend models to try to get better accuracy 
clf = setup(data=train_data, target="Diabetes")

ensemble_model = blend_models(estimator_list=[top_models[0],top_models[2],top_models[4]], method="hard")
print(evaluate_model(ensemble_model))


from sklearn.linear_model import LogisticRegression
# try to use stacking to see if thats any better
stacked_model_custom = s.stack_models(estimator_list=[top_models[0],top_models[2],top_models[4]])
print(evaluate_model(stacked_model_custom))

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

None

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

None